@import "../../util/colors.scss" ;




    .Footer{
        background-color: $orange1;
        width: 100%;
        height: 100px;
        color: white;
        text-align: center;
    }
  

@media screen and (max-width: 568px) {
    
}

