.Headline{
    font-style: normal;
    font-weight: 800;
    font-size: 72px;
    line-height: 73px;
    letter-spacing: 0em;
}

@media screen and (max-width: 968px) {
      
}


@media screen and (max-width: 572px) {
      
}

